#submitButton01 {
  font-family: "Pretendard";
  font-size: 24px;
  font-weight: 600;
  background-color: transparent;
  color: #cba585;
  border-radius: 30px;
  border: 2px solid #cba585;
  padding: 8px 40px;
  display: flex;
  margin: auto;
  margin-bottom: 120px;
  box-shadow: none;
}
#submitButton01:hover {
  background-color: #cba585;
  color: white;
}

#submitButton03 {
  font-family: "Pretendard";
  font-size: 14px;
  font-weight: 400;
  background-color: transparent;
  color: #3E3E3F;
  border-radius: 50px;
  border: 0.5px solid #3E3E3F;
  padding: 8px 40px;
  display: flex;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 15px;
  box-shadow: none;
}
#submitButton03:hover {
  background-color: #3E3E3F;
  color: white;
}
