.markPage{
    font-family: "Pretendard";
}

#submitButton{
    font-size: 24px;
    font-weight: 400;
    background-color: transparent;
    color: #CBA585;
    border-radius: 50px;
    border: 1.5px solid #CBA585;
    width: 230px;
    height: 70px;
    padding: 8px 16px;
    display: block;
    margin: auto;
    margin-bottom: 100px;

}