.markPage {
  font-family: "Pretendard";
}

#submitButton {
  font-family: "Pretendard";
  font-size: 20px;
  font-weight: 400;
  background-color: transparent;
  color: #cba585;
  border-radius: 50px;
  border: 2px solid #cba585;
  padding: 8px 40px;
  display: flex;
  margin: auto;
  margin-bottom: 100px;
  box-shadow: none;
}
