input[type="file"] {
  display: none;
}

.fileLabel {
  color: black;
  padding: 8px 30px;
  border: 1.5px solid #3e3e3f;
  border-radius: 30px;
  background-color: transparent;
  font-family: "Pretendard";
  font-size: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: 0.3s;
  cursor: pointer;

  &:hover {
    border-color: #3d4856;
    background-color: #3d4856;
    color: white;
  }
}
